* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

 
body {
  max-width: 576px;
  margin: 0px auto;
  font-family: "Inter", sans-serif;
  background-color:blue;
  
}

/* common code */
.btn {
  padding: 12.5px 16px;
  background: linear-gradient(rgb(236, 253, 2), rgb(255, 0, 140));
  border-radius: 30px;
}

.btn:hover {
  background:linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);
  color: #181618;
}

/* -----------------common code------------ */

 
.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px 60px;
}

.header-container a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px;
  display: ;
}

.header-container .menu a{
    display: none;
}

.header-container btn {
     none
}



.header-container a:hover{
  background:linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);
  color: #181618;
  border-radius: 7px;
  

}

 
 

.home-section {
  background: url(img/hero-bg.png);
  height: 760px;
  background-position: center;
  
  text-align: center;
  position: relative;

  color: white;
}

.newsection-h4{
  background-color: #00ff88;
  width: 75px;
  height: 38px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black;
  border-radius: 30px;
  margin-left: 250px;
  transition: transform 2s ease 0s;
  
}

.newsection-h4:hover{
  color: white;
  transform:rotate(360deg);
  background:linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);;

}



.home-section .hero-circle {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  background: url(img/hero-circle.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.hero-circle-img {
  position: relative;
}

.microphone-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.text-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
}

.text-item img {
  width: 15px;
  height: 15px;
  align-items: center;
}

.btns {
  padding: 12.5px 16px;
  background: transparent;
  border-radius: 30px;
  margin: 0px 10px;
  color: #00ff88;
  border: 1px solid #00ff88;
}

.btns:hover{
   background:linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);;
   border:none;
    
   color: #ffffff;

  }


.btns img {
  width: 15px;
  height: 15px;
  align-items: center;
}

/* -------------------home section ------- */

/*--------- about section start -------------*/
.about-sections {
  max-height: 646px;
  background-color: #1a0b2e;
  text-align: center;
  color: white;
}
.about-section h1 {
  font-size: 48px;
}

.about-section-text {
  padding-top: 50px;
}

.about-section-text p {
  line-height: 20px;
}

.users {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 120px 0px;
  gap: 20px;
  margin-bottom: 0px;
}

.users p {
  text-transform: uppercase;
}

.users h1 {
  color: #00ff88;
}

/*--------- about section end -------------*/

/*---------------service section--------- */
.service-section {
  height: 1121px;
  background-color: #230e3d;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-section {
width: 100%;
  margin: 0 auto;
}
.service-section .header {
  text-align: center;
  color: white;
  padding-top: 20px;
  flex-wrap: wrap;
}

.service-section p {
  font-size: 16px;
}
.service-section .all-section {
   
  width: 75%;
  

  margin: 100px auto;
  position: relative;
}

.services-1 {
  
  width: 31.5%;
  height: 480px;
  background-color: #351165;
  color: white;
  position: absolute;
  text-align: left;
  border-radius: 10px;
}
.service-1 {
  margin: 107px 40px;
}
.service-1 p {
  line-height: 25px;
}

.services-2 {
 
  width: 65.57%;
  height: 225px;
  position: absolute;
  background-color: #351165;
  border-radius: 10px;
  right: 0px;
  color: rgb(255, 255, 255);
}

.service-2 {
  margin: 40px;
}
.service-2 h3 {
  padding: 10px 0px;
}

.services-3 {
 
  width: 65.57%;
  height: 225px;
  position: absolute;
  background-color: #351165;
  border-radius: 10px;
  right: 0px;
  margin-top: 255px;
  color: rgb(255, 255, 255);
}

.service-3 {
  margin: 40px;
}
.service-3 h3 {
  padding: 10px 0px;
}

.services-4 {
 
  width: 65.83%;
  height: 273px;
  position: absolute;
  background-color: #351165;
  border-radius: 10px;
  left: 0px;
  bottom: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.service-4 {
  margin: 40px;
}
.service-4 img {
  width: 55px;
  height: 55px;
}
.service-4 h3 {
  padding: 10px 0px;
}

.services-5 {
  max-width: 380px;
  width: 31.67%;
  height: 273px;
  position: absolute;
  background-color: #351165;
  border-radius: 10px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}

.service-5 {
  margin: 40px;
}
.service-5 h3 {
  padding: 10px 0px;
}

/*---------------service section close--------- */

/*---------------card section start-------------- */
.card-sections {
  background-color: #1a0b2e;
  padding-bottom: 60px;

  
}

.card-section-h1 {
  padding-top: 120px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 48px;
  color: white;
}

.cards {
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 380px;
  height: 440px;
  background-color: #351165;
  border-radius: 20px;
  margin: 10px;
}

.card-h3 {
  font-size: 24px;
  padding: 24px 24px 0px 24px;
  color: white;
}

.card-p {
  font-size: 16px;
  padding: 24px 24px 0px 24px;
  color: white;
}

.card-h4 {
  padding: 12px 24px 24px 24px;
  color: #00ff88;
}

.iframe {
  border-radius: 20px 20px 0px 0px;
}

/*---------------card section close-------------- */

/*---------------contact section start --------------*/

.contact-section {
  background-color: #1a0b2e;
  margin: 0 auto;
  padding-bottom: 120px;
}

.contact-section h1 {
  text-align: center;
  padding: 40px;
  color: white;
  font-size: 48px;
}

.contact-detals {
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  align-items: center;
  background-color: #351165;
  border-radius: 20px;
}

.contact-detals h2 {
  font-size: 32px;
  color: white;
  padding: 10px 10px 10px 0px;
}

.contact-detals .text {
}
.contact-detals p {
  color: #533c72;
  font-size: 16px;
  padding: 10px 0px;
}
.img-icon img {
  width: 16px;
  height: 16px;
}

.img-icons {
  gap: 4px;
  position: relative;
  padding: 10px 0px;
}

.img-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #533c72;
  align-items: center;
  justify-content: center;
}
/*---------------contact section close --------------*/

/*------------footer section start-------------*/
footer {
  height: 412px;
  margin: 0 auto;
  background-image: url(img/footer-bg.png);
  background-position: center;
  background-size:;
}

.footer-all{
   padding-top:112px ;
}

.footer-all p {
     text-align: center;
     color: white;
     padding: 10px;
}


footer .TechWave-text{
  width: 410px;
  height: 80px;
  display: flex;
  margin: 0 auto;
}


.footer-text{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.footer-text a{ 
   color: white;
   text-decoration: none;
   padding: 20px;
   display: flex;
   justify-content: space-between;
   gap:5px;
   text-align: center;
   align-items: center;

   
}
.footer-text img{
  width: 20px;
  height: 20px;
}

/*------------footer section close-------------*/


 

 