* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
Legacy browser support for variable fonts
Read our FAQ */

body {
  max-width: 1600px;
  margin: 0px auto;
  font-family: "Inter", sans-serif;
}

/* common code */
.btn {
  padding: 12.5px 16px;
  background: linear-gradient(rgb(236, 253, 2), rgb(255, 0, 140));
  border-radius: 30px;
}

/* common code */

header {
  background-color: #412567;
  height: 92px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  padding: 10px 60px;
}

.header-container a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 20px;
}

.header-container span {
}

/* ---------------home section ---------------*/

.home-section {
  background: url(img/hero-bg.png);
  height: 760px;
  background-position: center;
  text-align: center;
  position: relative;

  color: white;
}
.home-section .hero-circle {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  background: url(img/hero-circle.png);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.hero-circle-img {
  position: relative;
}

.microphone-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.text-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
}

.text-item img {
  width: 15px;
  height: 15px;
  align-items: center;
}

.btns {
  padding: 12.5px 16px;
  background: transparent;
  border-radius: 30px;
  margin: 0px 10px;
  color: #00ff88;
  border: 1px solid #00ff88;
}

.btns img {
  width: 15px;
  height: 15px;
  align-items: center;
}

/* -------------------home section ------- */

/*--------- about section start -------------*/
.about-sections {
 max-height: 646px;
  background-color: #1A0B2E;
  text-align: center;
  color: white;
}
.about-section h1{ 
      font-size:48px ;
}

.about-section-text {
  padding-top: 50px;
  
   
   
}

.about-section-text p{
     line-height: 20px;
     
}

.users{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 120px 0px;
    gap: 20px;
    margin-bottom: 10px;
    
}

.users p{
    text-transform: uppercase;
}

.users h1{
    color: #00ff88;

}

/*--------- about section end -------------*/



/*---------------service section--------- */
.service-section{
    height: 1121px;
    background-color: red;
    margin-top: 0px;
}
.service-section .all-section{
    height: 783px;
    width: 75%;
    max-width: 1200px;
    background-color: blue;
    margin: 120px 200px;
}

/*---------------service section--------- */